/*~~~~~~~~~~~~~~~ GOOGLE FONTS ~~~~~~~~~~~~~~~*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*~~~~~~~~~~~~~~~ VARIABLES CSS ~~~~~~~~~~~~~~~*/
:root {
  --body-color: hsl(31, 62%, 80%);
  --section-color: hsl(48, 76%, 94%);
  --primary-color: hsl(12, 100%, 39%);
  --text-color: hsl(234, 100%, 8%);
}

/*~~~~~~~~~~~~~~~ BASE ~~~~~~~~~~~~~~~*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

/*~~~~~~~~~~~~~~~ REUSABLE CSS CLASSES ~~~~~~~~~~~~~~~*/
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/*~~~~~~~~~~~~~~~ HEADER & NAV ~~~~~~~~~~~~~~~*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--body-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo img {
  width: 4.5rem;
  cursor: pointer;
}

.navbar a {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 4rem;
  transition: color 0.3s;
}

/* Active link */
.navbar a:hover,
.navbar a.active {
  color: var(--primary-color);
}

/*~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}
.home-img img {
  width: 35vw;
  animation: floatImage 3s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

span {
  color: var(--primary-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.5;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.2rem solid var(--primary-color);
  border-radius: 50%;
  font-size: 1.5;
  color: var(--primary-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: all 0.3s ease;
}

.social-media a:hover {
  background-color: var(--primary-color);
  color: var(--section-color);
  box-shadow: 0 0 1rem var(--primary-color);
}

/*~~~~~~~~~~~~~~~ BUTTON ~~~~~~~~~~~~~~~*/
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--primary-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--primary-color);
  font-size: 1.6rem;
  color: var(--section-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: box-shadow 0.5s;
}

.btn:hover {
  box-shadow: none;
}

/*~~~~~~~~~~~~~~~ ABOUT ~~~~~~~~~~~~~~~*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--section-color);
}

.about-img img {
  width: 35vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/*~~~~~~~~~~~~~~~ SERVICES ~~~~~~~~~~~~~~~*/
.services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--section-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--body-color);
  transition: all 0.5s;
}

.services-container .services-box:hover {
  border-color: var(--primary-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--primary-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/*~~~~~~~~~~~~~~~ PROJECT ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ CONTACT ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ SCROLL UP ~~~~~~~~~~~~~~~*/

/* Show Scroll Up */

/*~~~~~~~~~~~~~~~ BREAKPOINTS ~~~~~~~~~~~~~~~*/
